<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>817652745921-3519pcrbcd3vr4mm1re9rio83k2pf8ef.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.817652745921-3519pcrbcd3vr4mm1re9rio83k2pf8ef</string>
	<key>API_KEY</key>
	<string>AIzaSyDtdlwqs80peTZn5Lh6KEoGGO2gU4qJkG4</string>
	<key>GCM_SENDER_ID</key>
	<string>817652745921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.altunbasakinsaatadmin</string>
	<key>PROJECT_ID</key>
	<string>altunbasakinsaat-3be4f</string>
	<key>STORAGE_BUCKET</key>
	<string>altunbasakinsaat-3be4f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817652745921:ios:f9ffab5a72eee7ed7e3640</string>
</dict>
</plist>